body, html{
    height: 100%; 
    color: white;
}

.background{
    background-image: url("../Background_Images/dark-wall-empty-room-with-plants-floor-3d-rendering.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-position: fixed;
}
.logo{
    font-size: 40px;
    font-weight: bold;
}
.name, .role{
    font-size: 5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: fade 2s ;
}

@keyframes fade{
    0%{
        color: black;
        font-size: 1vw;
    }
    100%{
        display: block;
    }
}

.name, .role{
    text-align: center;
}